@charset "UTF-8";

/* ESTILOS HEADER DESKTOP*/

header {
    max-width: 400px;
    width: 100%;
    clear: both;
    top: 0px;
    margin:0 auto;
}

header nav {
    margin: 0 auto;
}

header .navbar-expand-lg .container-fluid a.nav-run:hover {
    color: #FF5500;
}

header .navbar-expand-lg .container-fluid a.nav-run-drop,
header .navbar-expand-lg .container-fluid a.nav-run-drop:hover {
    color: #fff;
}

header .navbar-expand-lg .container-fluid .nav-run {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    
}

header .navbar-expand-lg .container-fluid .nav-run:hover {
    color: #FF5500;
}



header .navbar-expand-lg .container-fluid nav ul li li:hover,
header .navbar-expand-lg .container-fluid nav ul li ul a:hover {
    background-color: #FF5500;
    color: white;
}


header .navbar-expand-lg .container-fluid .dropdown-menu-dark {
    background-color: #232323;
}

header .navbar-expand-lg .container-fluid .dropdown-menu {
    border-radius: 0;
    border: 0;
    padding: 0;
}


/* FIN ESTILOS HEADER */


/*TAMAÑOS CONTENEDORES */

.bloqueContenido--sm {
    max-width: 700px;
    height: auto;
}

.bloqueContenido--md {
    max-width: 900px;
    height: auto;
}

.bloqueContenido--lm {
    max-width: 990px;
    height: auto;
}

.bloqueContenido--lg {
    max-width: 1200px;
    height: auto;
}

.bloqueContenido--xl {
    max-width: 1366px;
    height: auto;
}

.bloqueContenido--xxl {
    max-width: 1920px;
    height: auto;
}

.bloqueContenido--xxxl {
    max-width: 100%;
    height: auto;
}